   body{
   background-color: hsl(0, 0%, 80%);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .container{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   width: 800px;
 }

 .addNewTask{
   background-color: white;
   padding: 15px;
   font-weight:bold;
   margin-bottom: 2px;
 }

 .newText{
   padding: 10px;
   width: 600px;
   border:1px solid hsl(0, 0%, 80%);
 }

 .addPlace{
   display: flex;
   justify-content: space-around;
   background-color: white;
   padding: 20px;
 }

 .button{
   background-color: teal;
   color: hsl(0, 0%, 95%);
   border: none;
   cursor: pointer;
 }

 .task-list{
   background-color: white;
   padding: 15px;
   margin-top: 10px;
   font-weight: bold;
 }
 
 .Tasks{
   background-color: white;
   padding: 40px;
   margin-top: 2px;
   display:flex;
   justify-content:space-between;
   
 }

.list{
  list-style:none;
/*   text-decoration: 2px solid grey underline; */
}

.done{
  border:none;
  background-color:green;
  padding:7px;
  color:white;
  border-radius:5px;
  cursor:pointer;
  
 }

.remove{
  border:none;
  background-color:red;
  padding:7px;
  color:white;
  border-radius:5px;
  cursor:pointer;
  }

.li{
  display:grid;
  grid-template-columns: auto 1fr auto;
  grid-gap:10px;
  margin-bottom:10px;
  padding:10px;
  border-bottom:3px solid hsl(0, 0%, 75%);
  width:600px;
  
}
